@*itt megmondjuk, hogy milyen típusú adatot várunk az Action-től*@
@model List<string> 
@*
    innentől van egy olyan nevű változónk, hogy Model, és a típusa pedig List<string>
    ezzel egyenértékű, mintha létrehoztunk volna egy ilyen függvényt:
    View(List<string> Model)
*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            @foreach (var elem in Model)
            {
                <li>@elem</li>
            }
        </ul>
    </div>
</body>
</html>
