@*itt megmondjuk, hogy milyen típusú adatot várunk az Action-től*@
@model List<TodoApp.Controllers.Feladat> 
@*
    innentől van egy olyan nevű változónk, hogy Model, és a típusa pedig List<string>
    ezzel egyenértékű, mintha létrehoztunk volna egy ilyen függvényt:
    View(List<string> Model)
*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            @foreach (var elem in Model)
            {
                if (elem.Elvegezve)
                {
                    <li><strike>@elem.Megnevezes</strike></li>
                }
                else
                {
                    <li>@elem.Megnevezes</li>
                }
            }
        </ul>
        @*<form action="/" method="post">*@
        <form>
            <input type="text" name="Megnevezes" value="" />
            @*<input name="Elvegezve" />*@
            <button>Felvitel </button>
        </form>
    </div>
</body>
</html>
