
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tesztoldal</title>
    <style>
        .zoldhatter {
            background-color: chartreuse;
        }
        .szurkehatter {
            background-color: darkgrey;
        }
        .drapphatter {
            background-color: burlywood;
        }
    </style>


</head>
<body class="zoldhatter">
    <div class="drapphatter"> 
        <h1>Ez egy címszöveg</h1>
        <p class="szurkehatter">Ez pedig alatta valami normál szöveg bekezdés</p>
    </div>
</body>
</html>
