
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tesztoldal</title>
</head>
<body style="background-color:darkgrey">
    <div style="background-color:chartreuse"> 
        <h1>Ez egy címszöveg</h1>
        <p style="background-color:burlywood">Ez pedig alatta valami normál szöveg bekezdés</p>
    </div>
</body>
</html>
